### Extracting Data From A Relational Database

#### SQLite Database

In [16]:
# import sqlite3 package
import sqlite3

In [17]:
!ls -la

total 32
drwxr-xr-x  5 tamunotonyefiberesima  staff   160 Oct  5 11:22 .
drwxr-xr-x  5 tamunotonyefiberesima  staff   160 Oct  5 10:39 ..
drwxr-xr-x  3 tamunotonyefiberesima  staff    96 Oct  5 10:29 .ipynb_checkpoints
-rw-r--r--  1 tamunotonyefiberesima  staff  4608 Oct  5 11:22 Extracting Data From A Relational Database.ipynb
-rw-r--r--@ 1 tamunotonyefiberesima  staff  8192 Oct  5 11:19 dsclassroom.db

In [18]:
# create a connection to a database or create the database if it's not available
connection = sqlite3.connect("dsclassroom.db")
connection.close()

In [19]:
# Open Connection
connection = sqlite3.connect("dsclassroom.db")

# Open Cursor
cursor = connection.cursor()

# Create a query string
create_table = """
                CREATE TABLE dsclassroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                algebra_marks INTEGER,
                calculus_marks INTEGER,
                programming_marks INTEGER
                );"""

try:
    # Execute query
    cursor.execute(create_table)
except:
    pass

#Commit changes
connection.commit()

# Close connection
connection.close()

##### Insert Data

In [21]:
# Sample data
dsclassroom_data = [(1, "Tonye", "F", 90, 85, 98),
                    (2, "Fiberesima", "F", 73, 65, 50),
                    (3, "Eva", "M", 40, 23, 13),
                    (4, "Jane", "F", 99, 100, 100)]

# Open connection
connection = sqlite3.connect("dsclassroom.db")

# Open cursor
cursor = connection.cursor()

# Insert each student record
for student in dsclassroom_data:
    # create query string
    insert_statement = """
                        INSERT INTO dsclassroom 
                        (student_id, name, gender, algebra_marks, calculus_marks, programming_marks)
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                                  student[3], student[4], student[5])
    try:
        # Execute each insert statement
        cursor.execute(insert_statement)
    except:
        pass

# Commit changes
connection.commit()

# Close connection
connection.close()

##### Extract Data

In [27]:
# Open connection
connection = sqlite3.connect("dsclassroom.db")

# Open cursor
cursor = connection.cursor()

# Query
query = "SELECT * FROM dsclassroom"

# Execute each insert statement
cursor.execute(query)

# Fetch results
results = cursor.fetchall()

# Print results
for row in results:
    print(row)

# Close connection
connection.close()

(1, 'Tonye', 'F', 90, 85, 98)
(2, 'Fiberesima', 'F', 73, 65, 50)
(3, 'Eva', 'M', 40, 23, 13)
(4, 'Jane', 'F', 99, 100, 100)

### MySQL Database

#####