## Extracting data from relational databases

### SQLite Database

#### import package

In [41]:
# import sqlite3 package
import sqlite3

#### connect to database

In [42]:
# create a connection to a database : create the database if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

#### create table

In [43]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom ( 
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20), 
                gender CHAR(1), 
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
              );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

#### insert data

In [44]:
# sample data
classroom_data = [( 1, "Raj","M", 70, 84, 92),
                  ( 2, "Poonam","F", 87, 69, 93),
                  ( 3, "Nik","M", 65, 83, 90),
                  ( 4, "Rahul","F", 83, 76, 89)]
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom 
                      (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                      VALUES 
                      ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                              student[3],student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
# close the connection
connection.close()

#### extract data

In [45]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query) 
# fetch results
result = cursor.fetchall() 
# print results
for row in result:
    print(row)
# close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

### MySQL database

#### install package

In [46]:
# !conda install -y -q pymysql

#### import package

In [1]:
# import package
import pymysql

#### connect to database

In [13]:
# Connection info
config = {
    'user': 'eva4good@evatestdb', 
    'password' : 'Ch1bu!k33z3kw3m', 
    'database' : 'classroomDB', 
    'host' : 'evatestdb.mysql.database.azure.com', 
    'ssl' : {'ssl': {'ca': '/var/www/html/BaltimoreCyberTrustRoot.crt.pem'}}
}

#Connect to database
try:
    # opens a connection to database
    connection = pymysql.connect(**config)
    print("Connection established")
    
    # closes connection to database
    connection.close()
    print("Connection closed")
    
except pymysql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Connection established
Connection closed

#### create a table

In [14]:
# open connection to database
try:
    connection = pymysql.connect(**config)
    print("Connection established")
    
    # open cursor
    cursor = connection.cursor()

    create_table = """
                    CREATE TABLE dsclassroom ( 
                    student_id INTEGER PRIMARY KEY, 
                    name VARCHAR(20), 
                    gender CHAR(1), 
                    algebra_marks INTEGER,
                    calculus_marks INTEGER,
                    programming_marks INTEGER
                  );"""
    
    # execute query
    try:
        cursor.execute(create_table)
        
        # commit changes
        connection.commit()
        print("Table created")
        
        
        # close connection
        connection.close()
        print("Connection closed")
        
    except pymysql.Error as e:
        print("Error %d: %s" % (e.args[0], e.args[1]))



except pymysql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Connection established
Error 1050: Table 'dsclassroom' already exists

#### Inserting data

In [18]:
# sample data
classroom_data = [( 1, "Tonye","M", 70, 84, 92),
                  ( 2, "Fiberesima","F", 87, 69, 93),
                  ( 3, "Eva","M", 65, 83, 90),
                  ( 4, "Jane","F", 83, 76, 89)]

# open connection to database
try:
    connection = pymysql.connect(**config)
    print("Connection established")
    
    # open cursor
    cursor = connection.cursor()

    # insert each student record
    for student in classroom_data:
        # formatted query string
        insert_statement = """INSERT INTO dsclassroom 
                          (student_id, name, gender, algebra_marks, calculus_marks, programming_marks)
                          VALUES 
                          ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                              student[3],student[4], student[5])
        
         # execute query
        try:
            cursor.execute(insert_statement)
        
            # commit changes
            connection.commit()
            print("Record inserted")
        
                           
        except pymysql.Error as e:
            print("Error %d: %s" % (e.args[0], e.args[1]))
        
    # close connection to database
    connection.close()
    
    
except pymysql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Connection established
Error 1062: Duplicate entry '1' for key 'PRIMARY'
Error 1062: Duplicate entry '2' for key 'PRIMARY'
Error 1062: Duplicate entry '3' for key 'PRIMARY'
Error 1062: Duplicate entry '4' for key 'PRIMARY'

#### Extract data from database

In [19]:

# open connection to database
try:
    connection = pymysql.connect(**config)
    print("Connection established")
    
    # open cursor
    cursor = connection.cursor()

    # query
    query = "SELECT * FROM dsclassroom"
    
    # execute query
    try:
        cursor.execute(query)
        
        # fetch results
        result = cursor.fetchall() 
        
        # print results
        for row in result:
            print(row)
        
        
        # close connection
        connection.close()
        
    except pymysql.Error as e:
        print("Error %d: %s" % (e.args[0], e.args[1]))



except pymysql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Connection established
(1, 'Tonye', 'F', 90, 85, 98)
(2, 'Fiberesima', 'F', 73, 65, 50)
(3, 'Eva', 'M', 40, 23, 13)
(4, 'Jane', 'F', 99, 100, 100)

### Microsoft SQL Server database

#### install package

In [52]:
# !conda install -y pymssql

#### import package

In [24]:
import pymssql
import _mssql

#### connect to database

In [26]:
cnx= {
      'host': 'mltest1.database.windows.net:1433',
      'username': 'eva4good@mltest1',
      'password': 'Ch1bu!k33z3kw3m',
      'db': 'evatest_sqldb'
    }

try:
    conn = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
    print("Connection Established")
    conn.close()
    print("Connection Closed")
    
except:
    raise
finally:
    conn.close()

Connection Established
Connection Closed

#### create table

In [29]:
# open connection to database
try:
    connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
    print("Connection established")
    
    # open cursor
    cursor = connection.cursor()

    create_table = """
                    CREATE TABLE dsclassroom ( 
                    student_id INTEGER PRIMARY KEY, 
                    name VARCHAR(20), 
                    gender CHAR(1), 
                    algebra_marks INTEGER,
                    calculus_marks INTEGER,
                    programming_marks INTEGER
                  );"""
    
    # execute query
    try:
        cursor.execute(create_table)
        
        # commit changes
        connection.commit()
        print("Table created")
        
        
        # close connection
        connection.close()
        
    except _mssql.MssqlDatabaseException as e:
        if e.number == 2714:
        # table already existed, so silence the error
            #print("Error %d: %s" % (e[0], e[1]))
            pass
        
        else:
            raise # re-raise real error
    finally:
        connection.close()


except pymssql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))
    pass

Connection established
Error 2714: b"There is already an object named 'dsclassroom' in the database.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n"

#### insert data

In [38]:
%pdb
# sample data
classroom_data = [( 8, "Tonye","M", 70, 84, 92),
                  ( 9, "Fiberesima","F", 87, 69, 93),
                  ( 10, "Eva","M", 65, 83, 90),
                  ( 11, "Jane","F", 83, 76, 89)]

# open connection to database
try:
    connection = pymssql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
    print("Connection established")
    
    # open cursor
    cursor = connection.cursor()

    # insert each student record
    for student in classroom_data:
        # formatted query string
        insert_statement = """INSERT INTO dsclassroom 
                          (student_id, name, gender, algebra_marks, calculus_marks, programming_marks)
                          VALUES 
                          ({0}, '{1}', '{2}', {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                              student[3],student[4], student[5])
        
         # execute query
        try:
            cursor.execute(insert_statement)
        
            # commit changes
            connection.commit()
            print("Record inserted")
        
                           
        except pymssql.Error as e:
            print("Error %d: %s" % (e.args[0], e.args[1]))
        
    # close connection to database
    connection.close()
    
    
except pymssql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Automatic pdb calling has been turned ON
Connection established
Record inserted
Record inserted
Record inserted
Record inserted

#### extract data

In [39]:

# open connection to database
try:
    connection = pymssql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
    print("Connection established")
    
    # open cursor
    cursor = connection.cursor()

    # query
    query = "SELECT * FROM dsclassroom"
    
    # execute query
    try:
        cursor.execute(query)
        
        
        
        # fetch results
        result = cursor.fetchall() 
        
        # print results
        for row in result:
            print(row)
        
        
        # close connection
        connection.close()
        
    except pymssql.Error as e:
        print("Error %d: %s" % (e.args[0], e.args[1]))



except pymssql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Connection established
(1, 'Tonye', 'F', 90, 85, 98)
(2, 'Fiberesima', 'F', 73, 65, 50)
(3, 'Eva', 'M', 40, 23, 13)
(4, 'Jane', 'F', 99, 100, 100)
(5, 'Fiberesima', 'F', 87, 69, 93)
(6, 'Eva', 'M', 65, 83, 90)
(7, 'Jane', 'F', 83, 76, 89)
(8, 'Tonye', 'M', 70, 84, 92)
(9, 'Fiberesima', 'F', 87, 69, 93)
(10, 'Eva', 'M', 65, 83, 90)
(11, 'Jane', 'F', 83, 76, 89)