### Extracting Data From A Relational Database

#### SQLite Database

In [16]:
# import sqlite3 package
import sqlite3

In [17]:
!ls -la

total 32
drwxr-xr-x  5 tamunotonyefiberesima  staff   160 Oct  5 11:22 .
drwxr-xr-x  5 tamunotonyefiberesima  staff   160 Oct  5 10:39 ..
drwxr-xr-x  3 tamunotonyefiberesima  staff    96 Oct  5 10:29 .ipynb_checkpoints
-rw-r--r--  1 tamunotonyefiberesima  staff  4608 Oct  5 11:22 Extracting Data From A Relational Database.ipynb
-rw-r--r--@ 1 tamunotonyefiberesima  staff  8192 Oct  5 11:19 dsclassroom.db

In [18]:
# create a connection to a database or create the database if it's not available
connection = sqlite3.connect("dsclassroom.db")
connection.close()

In [19]:
# Open Connection
connection = sqlite3.connect("dsclassroom.db")

# Open Cursor
cursor = connection.cursor()

# Create a query string
create_table = """
                CREATE TABLE dsclassroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                algebra_marks INTEGER,
                calculus_marks INTEGER,
                programming_marks INTEGER
                );"""

try:
    # Execute query
    cursor.execute(create_table)
except:
    pass

#Commit changes
connection.commit()

# Close connection
connection.close()

##### Insert Data

In [21]:
# Sample data
dsclassroom_data = [(1, "Tonye", "F", 90, 85, 98),
                    (2, "Fiberesima", "F", 73, 65, 50),
                    (3, "Eva", "M", 40, 23, 13),
                    (4, "Jane", "F", 99, 100, 100)]

# Open connection
connection = sqlite3.connect("dsclassroom.db")

# Open cursor
cursor = connection.cursor()

# Insert each student record
for student in dsclassroom_data:
    # create query string
    insert_statement = """
                        INSERT INTO dsclassroom 
                        (student_id, name, gender, algebra_marks, calculus_marks, programming_marks)
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                                  student[3], student[4], student[5])
    try:
        # Execute each insert statement
        cursor.execute(insert_statement)
    except:
        pass

# Commit changes
connection.commit()

# Close connection
connection.close()

##### Extract Data

In [27]:
# Open connection
connection = sqlite3.connect("dsclassroom.db")

# Open cursor
cursor = connection.cursor()

# Query
query = "SELECT * FROM dsclassroom"

# Execute each insert statement
cursor.execute(query)

# Fetch results
results = cursor.fetchall()

# Print results
for row in results:
    print(row)

# Close connection
connection.close()

(1, 'Tonye', 'F', 90, 85, 98)
(2, 'Fiberesima', 'F', 73, 65, 50)
(3, 'Eva', 'M', 40, 23, 13)
(4, 'Jane', 'F', 99, 100, 100)

### MySQL Database

##### Import package

In [30]:
# import package
import pymysql

In [31]:
# Connection info
config = {
    'user': 'eva4good@evatestdb',
    'password': 'Ch1bu!k33z3kw3m',
    'database': 'classroomDB',
    'host': 'evatestdb.mysql.database.azure.com',
    'ssl': {'ssl': {'ca': '/var/www/html/BaltimoreCyberTrustRoot.crt.pem'}}
}

# Connect to database
try:
    # Opens a connection to database
    connection = pymysql.connect(**config)
    print("Connection established")
    
    # Closes connection to database
    connection.close()
    print("Connection closed")
    
except pymysql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Connection established
Connection closed

##### Crate a table

In [32]:
try:
    # Opens a connection to database
    connection = pymysql.connect(**config)
    print("Connection established")
    
    # Open cursor
    cursor = connection.cursor()
    
    create_table = """
                    CREATE TABLE dsclassroom(
                    student_id INTEGER PRIMARY KEY,
                    name VARCHAR(20),
                    gender CHAR(1),
                    algebra_marks INTEGER,
                    calculus_marks INTEGER,
                    programming_marks INTEGER);"""
    
    try:
        # Execute query
        cursor.execute(create_table)

        # Commit changes
        connection.commit()

        # Close connection
        connection.close()
        
    except pymsql.Error as e:
        print("Error %d: %s" % (e.args[0], e.args[1]))

except pymysql.Error as e:
        print("Error %d: %s" % (e.args[0], e.args[1]))

Connection established

#####  Insert Data

In [37]:
# Sample data
dsclassroom_data = [(1, "Tonye", "F", 90, 85, 98),
                    (2, "Fiberesima", "F", 73, 65, 50),
                    (3, "Eva", "M", 40, 23, 13),
                    (4, "Jane", "F", 99, 100, 100)]

# Open connection
try:
    connection = pymysql.connect(**config)
    print("Connection established")

    # Open cursor
    cursor = connection.cursor()

    # Insert each student record
    for student in dsclassroom_data:
        # create query string
        insert_statement = """
                            INSERT INTO dsclassroom 
                            (student_id, name, gender, algebra_marks, calculus_marks, programming_marks)
                            VALUES
                            ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                                  student[3], student[4], student[5])
        try:
            # Execute each insert statement
            cursor.execute(insert_statement)

            # Commit changes
            connection.commit()
            print("Record inserted")
        
        except pymysql.Error as e:
            print("Error %d: %s" % (e.args[0], e.args[1]))     

    # Close connection
    connection.close()

except pymysql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Connection established
Error 1062: Duplicate entry '1' for key 'PRIMARY'
Error 1062: Duplicate entry '2' for key 'PRIMARY'
Error 1062: Duplicate entry '3' for key 'PRIMARY'
Error 1062: Duplicate entry '4' for key 'PRIMARY'

##### Extract data from database

In [38]:
# Open connection to database
try:
    connection = pymysql.connect(**config)
    print("Connection established")

    # Open cursor
    cursor = connection.cursor()

    # Query
    query ="SELECT * FROM dsclassroom"
    
    # Execute query
    try:
        cursor.execute(query)
        
        # Fetch results
        result = cursor.fetchall()
        
        # Print results
        for row in result:
            print(row)
            
        # Close Connection
        connection.close()
        
    except pymysql.Error as e:
        print("Error %d: %s" % (e.args[0], e.args[1])) 
        
except pymysql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Connection established
(1, 'Tonye', 'F', 90, 85, 98)
(2, 'Fiberesima', 'F', 73, 65, 50)
(3, 'Eva', 'M', 40, 23, 13)
(4, 'Jane', 'F', 99, 100, 100)

### Microsoft SQL Server Database

##### Import Package

In [39]:
import pymssql
import _mssql

In [41]:
cnx = {
    'host': 'mltest1.database.windows.net:1433',
    'username': 'eva4good@mltest1',
    'password': 'Ch1bu!k33z3kw3m',
    'db': 'evatest_sqldb'
}

try:
    conn = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
    print("Connection Established")
    conn.close()
    print("Connection Closed")
except:
    raise
finally:
    conn.close()

Connection Established
Connection Closed

###### Create table

In [50]:
# Open connection to database
try:
    connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
    print("Connection Established")
    
    # Open cursor
    cursor = connection.cursor()
    
    create_table = """
                    CREATE TABLE dsclassroom(
                    student_id INTEGER PRIMARY KEY,
                    name VARCHAR(20),
                    gender CHAR(1),
                    algebra_marks INTEGER,
                    calculus_marks INTEGER,
                    programming_marks INTEGER);"""
    
    # Execute query
    try:
        cursor.execute(create_table)
        
        # Commit changes
        connection.commit()
        print("Table created")
        
        # Close connection
        connection.close
        
    except _mssql.MssqlDatabaseException as e:
        if e.number == 2714:
            #table already existed, so silence the error
            #print("Error %d: %s" %(e[0], e[1]))
            pass
        else:
            raise # re-raise real error
    finally:
        connection.close()
        
except pymssql.Error as e:
    print("Error %d: %s" %(e.args[0], e.args[1]))
    pass

Connection Established
Error 2714: b"There is already an object named 'dsclassroom' in the database.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n"

#####  Insert query

In [55]:
# Sample data
dsclassroom_data = [(1, "Tonye", "F", 90, 85, 98),
                    (2, "Fiberesima", "F", 73, 65, 50),
                    (3, "Eva", "M", 40, 23, 13),
                    (4, "Jane", "F", 99, 100, 100)]

# Open connection to database

try:
    connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
    print("Connection Established")
    
    # Open cursor
    cursor = connection.cursor()
    
    # Insert each student record
    for student in dsclassroom_data:
        # create query string
        insert_statement = """
                            INSERT INTO dsclassroom 
                            (student_id, name, gender, algebra_marks, calculus_marks, programming_marks)
                            VALUES
                            ({0}, '{1}', '{2}', {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                                  student[3], student[4], student[5])
        try:
            # Execute each insert statement
            cursor.execute(insert_statement)

            # Commit changes
            connection.commit()
            print("Record inserted")
        
        except pymssql.Error as e:
            print("Error %d: %s" % (e.args[0], e.args[1]))     

    # Close connection
    connection.close()

except pymssql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Connection Established
Record inserted
Record inserted
Record inserted
Record inserted

##### Extract Data

In [56]:
# Open connection to database
try:
    connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
    print("Connection Established")
    
    # Open cursor
    cursor = connection.cursor()

    # Query
    query ="SELECT * FROM dsclassroom"
    
    # Execute query
    try:
        cursor.execute(query)
        
        # Fetch results
        result = cursor.fetchall()
        
        # Print results
        for row in result:
            print(row)
            
        # Close Connection
        connection.close()
        
    except pymssql.Error as e:
        print("Error %d: %s" % (e.args[0], e.args[1])) 
        
except pymssql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))

Connection Established
(1, 'Tonye', 'F', 90, 85, 98)
(2, 'Fiberesima', 'F', 73, 65, 50)
(3, 'Eva', 'M', 40, 23, 13)
(4, 'Jane', 'F', 99, 100, 100)
(5, 'Fiberesima', 'F', 87, 69, 93)
(6, 'Eva', 'M', 65, 83, 90)
(7, 'Jane', 'F', 83, 76, 89)
(8, 'Tonye', 'M', 70, 84, 92)
(9, 'Fiberesima', 'F', 87, 69, 93)
(10, 'Eva', 'M', 65, 83, 90)
(11, 'Jane', 'F', 83, 76, 89)